</body>

<footer class="footer-section text-center" id="footer">
    <div class="container-fluid">
        <div class="footer-logo">
            <img src="/image/Neurone Onuraunon Logo with Name.svg" alt="Neurone Onuraunon" class="footer-logo">
        </div>

        <div class="button-group">
            <a href="link1.html" class="contact-link">Our Team</a>
            <a href="link2.html" class="contact-link">Problems</a>
            <a href="link3.html" class="contact-link">Contests</a>
            <a href="link4.html" class="contact-link">Tutorials</a>
        </div>
        <div class="contact-icons">
            <i class="fas fa-envelope"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
        </div>
        
        <p id="copyright">© 2023 Neurone Onuraunon. All rights reserved.</p>
    </div>
</footer>

</html>
