<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neurone Onuraunon - A Comprehensive Platform for Olympiad Aspirants</title>
    <link rel="icon" href="images/icon.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300;400;700&family=Poppins:wght@100&display=swap"
        rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- External CSS -->
    <link rel="stylesheet" href="css/problems.css">
    <link rel="stylesheet" href="css/homepage.css">
    

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/b5bae938a8.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="header-section" id="header">
        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar mb-4">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/image/Neurone Onuraunon Logo with Name.svg" class="img-responsive" alt="Neurone Onuraunon Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ms-auto navbar-item">
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:3000/problems">Problems</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">Contests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cta">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cta">Blog/Tutorials</a>
                        </li>
                        <li class="nav-item">

                        </li>
                    </ul>
                </div>
                <a class="navbar-brand" href="#">
                    <img src="/image/icons/user logo.svg" alt="User Logo">
                </a>
            </div>
        </nav>
    </section>