<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Neurone Onuraunon | Login</title>
    <link rel="icon" href="images/icon.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300;400;700&family=Poppins:wght@100&display=swap"
        rel="stylesheet">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <img class="illustration" src="/images/illustration-1.png" alt="illustration-1" srcset="">
                <h1 class="login-title">Dive into <br> Neurone Onuraunon</h1>
                <h2>Step In and Multiply Your Potential!</h2>
            </div>
        </div>


        <div class="right">
            <h5 class="login-header">Login</h5>
            <p>Don't have an account? <a href="http://localhost:3000/signup">Sign Up</a>- it takes less than a minute!
            </p>

            <form action="/login" class="" method="post">
                <div class="inputs">
                    <input type="email" id="email" name="email" placeholder="sample@gmail.com" required>
                    <div class="custom-input">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <i class="fa fa-eye-slash toggle-password" style="color: #000000" aria-hidden="true"
                            data-visible="false"></i>
                    </div>
                </div>

                <br><br>

                <div class="remember-me--forget-password">
                    <!-- Angular -->
                    <label>
                        <input type="checkbox" id="rememberMe" name="item" checked />
                        <span class="text-checkbox">Remember Me</span>
                    </label>
                    <a href="http://localhost:3000/forgot-password">Forgot Password?</a>
                </div>

                <br>
                <span>
                    <a href="#"><i class="fa fa-google" aria-hidden="true"></i> Login with Google</a>
                </span>
                <button type="submit" name="loginButton">Login</button>
            </form>
        </div>

    </div>

    <script>

        const togglePassword = document.querySelector(".toggle-password");
        const passwordInput = document.getElementById("password");
        passwordInput.addEventListener("copy", function (e) {
            e.preventDefault();
        });

        passwordInput.addEventListener("paste", function (e) {
            e.preventDefault();
        });
        togglePassword.addEventListener("click", function () {
            const isVisible = this.getAttribute("data-visible") === "true";

            if (isVisible) {
                passwordInput.setAttribute("type", "password");
                this.setAttribute("data-visible", "false");
                this.classList.remove("fa-eye");
                this.classList.add("fa-eye-slash");
            } else {
                passwordInput.setAttribute("type", "text");
                this.setAttribute("data-visible", "true");
                this.classList.remove("fa-eye-slash");
                this.classList.add("fa-eye");
            }
        });


    </script>
</body>

</html>