<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neurone Onuraunon - A Comprehensive Platform for Olympiad Aspirants</title>
    <link rel="icon" href="images/icon.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300;400;700&family=Poppins:wght@100;300&display=swap"
        rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- External CSS -->
    <link rel="stylesheet" href="css/math.css">

    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/b5bae938a8.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Header Section -->
    <section class="header-section" id="header">
        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar mb-4">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/image/Neurone Onuraunon Logo with Name.svg" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ms-auto navbar-item">
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Problems</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">Contests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cta">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cta">Blog/Tutorials</a>
                        </li>
                        <li class="nav-item">

                        </li>
                    </ul>
                </div>
                <a class="navbar-brand" href="#">
                    <img src="/image/icons/user logo.svg" alt="Logo">
                </a>
            </div>
        </nav>
    </section>

    <!-- math problem section-->
    <section id="math">
        <div class="row custom-row">
            <div class="col-md-8 left-column  component mb-4">
                <div class="container mt-2">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <div id="problem-title">শখের ডাকটিকিট</div>
                                    <div id="point">Points: 2</div>
                                    <div>রাতুলের শখ হল বিচিত্র রকমের ডাকটিকিট সংগ্রহ করা।
                                        রাতুলের কাছে 10 টি ডাকটিকিট এর বাক্স আছে। প্রতিটি বাক্সে কিছু সংখ্যক ডাকটিকিট
                                        আছে। যেকোন দুটি বাক্সেই একই সংখ্যক ডাকটিকিট নেই। 10 টি বাক্সে মোট ডাকটিকিট
                                        সংখ্যা 190। তাহলে যেকোন দুটি বাক্সের ডাকটিকিট সংখ্যার পার্থক্য সর্বোচ্চ কত হতে
                                        পারে?
                                    </div>
                                    
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                            <tr>
                                <td class="d-flex justify-content-between">
                                    <span class="table-cell-with-input d-flex justify-content-start">
                                        <button class="btn me-2"><i class="fa fa-lg fa-circle-up up-down"></i> Upvote</button>
                                        <button class="btn me-2"><i class="fa fa-lg fa-circle-down up-down"></i> Downvote</button>
                                    </span>
                                    <span class="table-cell-with-input d-flex justify-content-end">
                                        <input type="text" class="form-control me-2" placeholder="Your Answer">
                                        <button class="btn btn-custom">SUBMIT</button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-4 ms-auto right-column">
                <div class="p-3 mb-3 component">
                    <div class="container mt-2">
                        <div>
                            <h1 id="problem-status">Status</h1>
                        </div>
                        <hr id="horizontal-rule">
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="d-flex justify-content-between">
                                    <span class="table-cell-with-input d-flex justify-content-start">
                                        Tried
                                    </span>
                                    <span class="table-cell-with-input d-flex justify-content-end">
                                        1000
                                    </span>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                            <tr>
                                <td class="d-flex justify-content-between">
                                    <span class="table-cell-with-input d-flex justify-content-start">
                                        Solved
                                    </span>
                                    <span class="table-cell-with-input d-flex justify-content-end">
                                        1000
                                    </span>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
</body>
<!-- Footer -->
<footer class="footer-section text-center" id="footer">
    <div class="container-fluid">
        <div class="footer-logo">
            <img src="image/Neurone Onuraunon Logo with Name.svg" alt="Neurone Onuraunon" class="footer-logo">
        </div>

        <div class="button-group">
            <a href="link1.html" class="contact-link">Our Team</a>
            <a href="link2.html" class="contact-link">Problems</a>
            <a href="link3.html" class="contact-link">Contests</a>
            <a href="link4.html" class="contact-link">Tutorials</a>
        </div>
        <div class="contact-icons">
            <i class="fas fa-envelope"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
        </div>

        <p id="copyright">© 2023 Neurone Onuraunon. All rights reserved.</p>
    </div>
</footer>

</html>