<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Neurone Onuraunon | Signup</title>
    <link rel="icon" href="images/icon.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300;400;700&family=Poppins:wght@100&display=swap"
        rel="stylesheet">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/verify-email.css">

</head>

<body>
    <section class="header-section" id="header">
        <nav class="navbar navbar-expand-lg navbar-dark custom-navbar mb-4">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/image/Neurone Onuraunon Logo with Name.svg" alt="Neurone Onuraunon Logo">
                </a>
            </div>
        </nav>
    </section>

    <section id="body-section">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h1>Verify Your Email</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="/image/Verify Email.png" class="img-responsive" width="50%" alt="Verify Image Picture">
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <p>An email has been sent to your registered email address. Please click the link in the email to
                        verify your
                        account.</p>
                    <p>If you didn't receive the email, please check your spam folder or click the link for your webmail
                        service:

                </div>
            </div>
        </div>
        <div class="icons">
            <a href="https://mail.google.com/mail/u/0/#inbox" class="btn" target="_blank"><img
                    src="/image/icons/Gmail.png" alt=""></a>
            <a href="https://compose.mail.yahoo.com/?to=user@example.com" class="btn" target="_blank"><img
                    src="/image/icons/Yahoo.png" alt=""></a>
        </div>
    </section>

    <section id="footer-section">
        <p id="copyright">© 2023 Neurone Onuraunon. All rights reserved.</p>
    </section>
</body>

</html>