#view-contest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-container {
    font-family: 'Exo', sans-serif;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(40%);
    width: 90%;
    height: 50%;
    background: rgba(253, 253, 253, 0.3);
    box-shadow: 0 4px 15px 0 rgba(243, 243, 243, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 2px solid rgba(0, 104, 250, 0.18);
    border-radius: 10px;
}
#starting{
    top: 10%;
    font-size: larger;
    position: absolute;
    margin-left: 160px;
}

#finished-ongoing{
    position: absolute;
    top: 30%;
    right: 14.5%;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: medium;
    background: rgba(31, 38, 135, 1);
    color: white;
    border-radius: 5px;
    padding: 10px;
    /* transform: translateY(-50%); */
}
#countdown-clock {
    
    font-weight: 300;
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    text-align: center;
}

.countdown-item {
    margin: 0 2px;
}

.flip {
    perspective: 100px;
    width: 70px;
    height: 70px;
    display: inline-block;
}


.flip-front {
    width: 100%;
    height: 100%;
    font-size: smaller;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}


#contest-user {
    min-height: 80vh;
}


.view-contest-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}

#image-container {
    position: relative;
    width: 100%;
    height: auto;
}



.overlay-button {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-weight: 900;
    border-radius: 0.8rem;
    position: absolute;
    width: 150px;
    left: 30px;
    transform: translateY(-50%);
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.overlay-button:hover {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: #fff;
    text-decoration: none;
}
.button-register{
    top: 30%;
}
.button-invite{
    top: 70%;
}


.title-subtitle h4 {
    font-size: 2vw; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-subtitle h5 {
    font-size: 2vw; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-container {
    top: 50px;
    max-width: 100%; 
    width: auto;
}

#rules-regulations {
    margin: 80px 20px;
    position: relative;
}

.custom-row-contest {
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
    padding: 10px;
    background: rgba(95, 116, 201, 0.3);
    box-shadow: 0 4px 15px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


#name-time {
    width: 100%;
    font-family: 'Exo', sans-serif;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.popup-content {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: white;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}