.custom-navbar {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.navbar-item {
    color: white;
    font-family: 'Exo', sans-serif;

}


/* Customize image size */
.img-fluid {
    max-width: 15rem;
    /* Adjust the width as needed */
    height: auto;
}

/* Customize button color */
.btn-custom {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    color: #fff;
    width: 70%;
    font-family: 'Exo', sans-serif;
}

.btn-custom:hover {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: #fff;
    transform: translateY(-2px) translateX(2px);
}

#profileButton {
    padding-right: 50px;
}
.dropdown-toggle::after {
    content: none;
}

.footer-section {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: white;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Vertically center align */
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.button-group {
    margin-bottom: 30px;
}

.contact-link {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
}

.contact-icons {
    font-size: 24px;
    display: flex;
    color: black;
    gap: 25px;
    margin-bottom: 30px;
}

.contact-icons i:hover {
    color: white;
    cursor: pointer;
}


.footer-logo {
    width: 20rem;
    height: auto;
    display: flex;
    justify-content: center;
    /* Add this line to horizontally center the logo */
}


#copyright {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}


/* Reference */

h1 {
    font-size: 2.5rem;
    line-height: 2;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-size: 1.2rem;
}

.download-button {
    margin: 50px 10px 50px;
}

.title-image {
    width: 75%;
    position: relative;
    margin-left: 250px;
    margin-bottom: 50px;
}

.feature-box {
    text-align: center;
    padding: 2%;
}

.icon {
    color: #82AAE3;
    padding-bottom: 10px;
}

.icon:hover {
    color: #146C94;
}

.carousel-item {
    padding: 5% 15%;
}

#profile_picture {
    width: 50px;
    height: 50px;
}

.press-logo {
    width: 10%;
    margin: 0px 20px 20px 10px;
}

.pricing-btn {
    padding: 2.5%;
}

.signup-btn:hover {
    background-color: #82AAE3;
}

.card-header {
    background-color: #82AAE3;
    color: white;
}

.cta-heading {
    font-size: 4rem;
    padding-top: 5%;
}

.social-icon {
    margin: 0 1%;
}

#title {
    background-color: #82AAE3;
    color: white;
}

#features {
    padding: 10% 15%;
}

#testimonials {
    background-color: #82AAE3;
    text-align: center;
    color: white;
}

#press {
    background-color: #82AAE3;
    padding-bottom: 2%;
    text-align: center;
}

#pricing {
    padding: 100px;
    text-align: center;
}

#cta {
    background-color: #82AAE3;
    color: white;
    text-align: center;
}

#copyright {
    margin: 0;
}

@media (max-width: 1024px) {
    .title-image {
        margin: auto;
        position: static;
    }

    .title-image-query {
        text-align: center;
    }
}

