/* CSS for the pop-up message */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.popup-content {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: white;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    font-size: x-large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


.up-down{
    color: #002D79;
}
.up-down:hover {
    color: #3cb0fd;
}
#profile_picture {
    width: 50px;
    height: 50px;
}
.component {
    border: 1px solid #000000;
    border-radius: 4px;
}

.custom-row {
    width: 88%;
    margin: auto;
}



#horizontal-rule {
    color: #3069cc;
}

.left-column {
    display: flex;
    margin: auto;
    justify-content: left;
    align-items: center;
}

#problemDetail{
    margin: 5% 0% 15%;
}

#point{
    font-size: 1rem;
    font-weight: 600;
}
#problem-status {
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#problem-title{
    font-size: 1.5rem;
    font-weight:900;
}

.spacer {
    height: 10px;

    background-color: transparent;
}


.table-cell-with-input input {
    width: 200px; /* Set the width as per your preference */
}

