<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>

    
</body>

<footer class="footer-section text-center" id="footer">
    <div class="container-fluid">
        <div class="footer-logo">
            <img src="/image/Neurone Onuraunon Logo with Name.svg" alt="Neurone Onuraunon" class="footer-logo">
        </div>

        <div class="button-group">
            <a href="link1.html" class="contact-link">Our Team</a>
            <a href="http://localhost:3000/problems" class="contact-link">Problems</a>
            <a href="http://localhost:3000/contests" class="contact-link">Contests</a>
            <a href="http://localhost:3000/tutorial" class="contact-link">Tutorials</a>
        </div>
        <div class="contact-icons">

            <a href="mailto: 200204@ku.ac.bd" style="text-decoration: none; color: inherit;"><i class="fas fa-envelope" ></i></a>
            <a href="https://www.facebook.com/neurone.onuraunon" target="_blank" style="text-decoration: none;color: inherit;"><i class="fab fa-facebook"></i></a>
            <a href="http://" target="_blank" style="text-decoration: none; color: inherit;"><i class="fab fa-instagram"></i></a>
            <a href="http://" target="_blank" style="text-decoration: none; color: inherit;"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/@neurone.onuraunon" target="_blank" style="text-decoration: none; color: inherit;"><i class="fab fa-youtube"></i></a>
        </div>

        <p id="copyright">© 2023 Neurone Onuraunon. All rights reserved.</p>
    </div>
</footer>

</html>